/* General */

:root {
  --blue_primary: #112d4b;
  --blue_secondary: #0089de;
  --main_text_blue: #45547c;
  --main_text_black: #0f2742;
  --grey_primary: #444;
  --green_primary: #7cc305;
  --white_primary: #fff;
  --gray_secondary: #ecf2f8;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--grey_primary);
  background-color: var(--white_primary);
}

p {
  color: var(--main_text_blue);
  font-size: 1.5rem;
}

button {
  padding: 1.2rem;
  cursor: pointer;
  color: var(--white_primary);
  border: none;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  margin: 1.8rem 0;
}

li {
  padding: 1.4rem;
  border-radius: 0.2rem;
  background-color: var(--white_primary);
  margin-top: 1.5rem;
  margin-right: auto;
  color: var(--main_text_blue);
  font-size: 1.4rem;
  box-shadow: 0.5rem 0.5rem 0.1rem var(--gray_secondary);
  box-shadow: 0.5rem 0.5rem 0.1rem var(--gray_secondary);
  -moz-box-shadow: 0.5rem 0.5rem 0.1rem var(--gray_secondary);
  -webkit-box-shadow: 0.5rem 0.5rem 0.1rem var(--gray_secondary);
  cursor: pointer;
}

li:hover {
  transform: translateY(-0.6rem);
  -webkit-transform: translateY(-0.6rem);
  -moz-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transition: transform 0.3s ease-in-out;
}

.structureWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.gridWrapper {
  margin: 0 auto;
  padding: 0 2.5rem;
  max-width: 118.6rem;
}
.header {
  box-sizing: border-box;
  width: 100%;
  padding: 2.5rem 0;
  background-color: var(--blue_primary);
}
.content {
  padding: 5rem 0;
  flex: 1 1 0;
}
.footer {
  padding: 1rem 0;
  text-align: right;
  color: var(--white_primary);
  background-color: var(--blue_primary);
}

/* Logo */
.logo {
  display: block;
  width: auto;
  height: 3.6rem;
}

/* Text */
.headline {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.paragraph {
  margin-top: 0.5em;
}
.paragraph:first-of-type {
  margin-top: 0;
}

/* Fizz Buzz list */
.btn--generate {
  background-color: var(--blue_secondary);
}
.btn--generate:hover {
  background-color: var(--green_primary);
}
.btn--close {
  display: none;
  background-color: var(--blue_secondary);
}

.btn--close:hover {
  background-color: var(--green_primary);
}
.fizzBuzzList {
  margin: 1.8rem 0;
}

.fizzBuzzUl {
  display: flex;
  flex-wrap: wrap;
}
.fizz--num {
  border-left: 0.4rem solid var(--main_text_blue);
}
.fizz {
  border-left: 0.4rem solid var(--green_primary);
}
.buzz {
  border-right: 0.4rem solid var(--blue_secondary);
}

@media only screen and (min-width: 768px) {
  li {
    width: 17.45%;
  }
  li:nth-child(5n + 5) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  li {
    width: 34.9%;
  }
  li:nth-child(2n + 2) {
    margin-right: 0;
  }

  .logo {
    width: 50%;
  }
}
